[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.27"

[dev-packages]
black = "~=22.3"
flake8 = "~=4.0"
isort = "~=5.10"
pytest = "~=7.1"
pre-commit = "~=2.19"
